<div class="fixed_up">
  <a href="/logout">
    <img class="logo_real" src="/images/index/logo.png" alt="logo_real"/>
  </a>
  <div class="btn_home">
    <img class="icon_home" src="/images/index/home.png" alt="Icon_home"/>
  </div>
  <div class="btn_zone">
    <img class="icon_home" src="/images/index/zone.png" alt="Icon_zone"/>
  </div>
  <div class="btn_mypage">
    <img class="icon_home" src="/images/index/mypage.png" alt="Icon_mypage"/>
  </div>
</div>
<div id="rankBox" class="rank_-box hide"></div>
<div id="missionBox" class="hide"></div>