@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,500,900|Raleway:400,900,500,800,900italic,800italic");

.x2-1-main-ing-o {
  align-items: center;
  background-color: var(--asapblack);
  border: 1px none;
  display: flex;
  flex-direction: column;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.rank_-box {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  margin-top: 113px;
  min-width: 366px;
  z-index: 4;
}

.default {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(4px) brightness(100%);
  border: 4px solid;
  border-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 1px 8px 6px #ff2d5533;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 130px;
  padding: 22px 17px;
  width: 366px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-left: 4px;
  min-width: 284px;
}

.overlap-group2-1 {
  height: 84px;
  position: relative;
  width: 173px;
}

.txt_nickname {
  align-items: center;
  border: 1px none;
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 10px 0px 10px 2px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.nickname {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.24px;
  line-height: 24px;
  margin-top: -1px;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.layout_zone {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--asapgray-2);
  border: 3px solid;
  border-color: #d0cdd6;
  display: flex;
  height: 84px;
  min-width: 96px;
  padding: 8px 18px;
}

.text-2 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.24px;
  line-height: normal;
  min-height: 58px;
  min-width: 55px;
  text-align: center;
}

.layout_exp {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 40px;
  width: 331px;
  font-size: 12px;
  color: white;
}

.txt_-container {
  align-items: flex-start;
  display: flex;
  height: 17px;
  min-width: 325px;
}

.txt_exp {
  letter-spacing: -0.24px;
  line-height: normal;
  min-height: 17px;
  min-width: 22px;
}

.txt_next_zone {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  width: 100%;
}

.master-3 {
  color: #FF4A8B;
  font-weight: 500;
  letter-spacing: -0.24px;
  text-align: right;
  width: fit-content;
}

.txt_next_zone-item {
  letter-spacing: -0.24px;
  line-height: normal;
  margin-top: -1px;
  text-align: right;
  width: fit-content;
}

.overlap-group-1 {
  border-color: var(--asapgray-2);
  border-left-style: solid;
  border-left-width: 2px;
  border-radius: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  height: 19px;
  position: relative;
  width: 325px;
}

.gage_in {
  align-items: flex-start;
  background-color: #ff7d9766;
  box-shadow: 0px 0px 4px #ff2d55b2;
  display: flex;
  height: 15px;
  left: 0;
  min-width: 321px;
  position: absolute;
  top: 1px;
  border-radius: 0px 3px 3px 0px;
}

.box_filled {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 126, 151) 0%, rgb(255, 0, 48.57) 100%);
  border: 2px none;
  border-radius: 0px 3px 3px 0px;
  box-shadow: 1px 0px 6px #ffffff40;
  height: 15px;
}

.txt_exp_remain {
  left: 294px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.txt_exp_gained {
  left: 5px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.huick {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 22.49px;
  margin-top: 60px;
  min-height: 243px;
  width: 338px;
  z-index: 3;
}

.flex-row-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 230px;
  width: 190px;
}

.over-container-1 {
  height: 160px;
  margin-right: 4px;
  position: relative;
  width: 166px;
}

.cover-1 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 166px;
}

.overlap-group-7 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/62f4617b3d634d661f82e0f0/img/cover-mask@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  min-height: 160px;
  padding: 12px 13px;
  position: absolute;
  top: 0;
  width: 166px;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place {
  align-self: center;
  color: var(--white-3);
  font-family: var(--font-family-raleway);
  font-size: 72px;
  font-style: italic;
  font-weight: 800;
  height: 85px;
  letter-spacing: -0.44px;
  line-height: normal;
  margin-left: 0.58px;
  min-width: 126px;
  transform: rotate(0.39deg);
}

.month {
  height: 42px;
  letter-spacing: -0.22px;
  line-height: normal;
  min-width: 106px;
  transform: rotate(-1.41deg);
}

.line {
  height: 3px;
  margin-top: 3.98px;
  width: 23px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlap-group-6 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/62f4617b3d634d661f82e0f0/img/cover-mask-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 160px;
  padding: 16px 11px;
  position: absolute;
  top: 0;
  width: 166px;
}

.recently-added-1 {
  width: 100%;
  height: 26px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.0138462em;
  color: #FFFFFF;
}

.fixed_up {
  align-items: flex-end;
  background-color: #161616;
  display: flex;
  height: 70px;
  padding: 6px 17px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.btn_home {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  margin-bottom: 1px;
  margin-left: 89px;
  min-width: 34px;
}

.icon_home {
  height: 37px;
  margin-bottom: -2.64px;
  width: 36px;
}

.btn_mypage {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 34px;
  margin-bottom: 1px;
  margin-left: 100px;
  min-width: 34px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/63527d9cb48cd02e03f414b0/img/icon-profile@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 38px;
  margin-bottom: -4.98px;
  margin-left: -3px;
  min-width: 39px;
  padding: 10.8px 5.9px;
}

.vector_mouse {
  height: 10px;
  width: 15px;
}

.logo_real {
  height: 35px;
  object-fit: cover;
  width: 64px;
}

.btn_zone {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  margin-bottom: 1px;
  margin-left: 17px;
  min-width: 34px;
}

.overlap-group1 {
  height: 36px;
  margin-bottom: -3.07px;
  position: relative;
  width: 42px;
}

.vector_line {
  height: 23px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 42px;
}

.overlap-group {
  height: 36px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 36px;
}

.subtract {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.vector-4 {
  height: 6px;
  left: 25px;
  position: absolute;
  top: 9px;
  width: 5px;
}

.mission_row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  min-height: 243px;
  width: 100%;
  z-index: 1;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 203px;
  min-width: 340px;
}

.x1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  width: 162px;
}

.over-container {
  height: 160px;
  position: relative;
  width: 158px;
}

.cover {
  height: 158px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 158px;
}

.overlap-group-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/63527d9cb48cd02e03f414b0/img/cover-mask-1@2x.svg);
  background-size: 100% 100%;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 158px;
}

.surname {
  height: 42px;
  left: 73px;
  letter-spacing: -0.22px;
  line-height: normal;
  position: absolute;
  top: 102px;
}

.number {
  color: var(--white-3);
  font-family: var(--font-family-raleway);
  font-size: 128px;
  font-style: italic;
  font-weight: 800;
  height: 117px;
  left: 20px;
  letter-spacing: -0.79px;
  line-height: normal;
  position: absolute;
  top: 17px;
  transform: rotate(8deg);
  width: 65px;
}

.x2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  width: 163px;
}

.over-container-2 {
  height: 162px;
  margin-top: -1px;
  position: relative;
  width: 159px;
}

.cover-2 {
  height: 159px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 159px;
}

.overlap-group-3 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 158px;
}

.number-1 {
  color: var(--white-3);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxl);
  font-style: italic;
  font-weight: 800;
  height: 117px;
  left: 31px;
  letter-spacing: -0.68px;
  line-height: normal;
  position: absolute;
  top: 4px;
  transform: rotate(8deg);
  width: 65px;
}

.surname-1 {
  height: 42px;
  left: 73px;
  letter-spacing: -0.22px;
  line-height: normal;
  position: absolute;
  top: 104px;
}

.cover_mask {
  height: 160px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 158px;
}

.recently-added {
  height: 26px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.0138462em;
  color: #FFFFFF;
  margin-left: 30px;
  min-width: 340px
}

.quick {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 22.49px;
  margin-top: 40px;
  min-height: 243px;
  width: 338px;
  z-index: 2;
}

.x1-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  width: 162px;
}

.overlap-group-4 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/62f4617b3d634d661f82e0f0/img/cover-mask-5@2x.svg);
  background-size: 100% 100%;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 158px;
}

.number-2 {
  height: 117px;
  left: 23px;
  letter-spacing: -0.68px;
  line-height: normal;
  position: absolute;
  top: 4px;
  transform: rotate(8deg);
  width: 65px;
}

.x2-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  width: 163px;
}

.over-container-3 {
  height: 160px;
  position: relative;
  width: 159px;
}

.overlap-group-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/62f4617b3d634d661f82e0f0/img/cover-mask-4@2x.svg);
  background-size: 100% 100%;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 158px;
}

.number-3 {
  height: 117px;
  left: 33px;
  letter-spacing: -0.68px;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 65px;
}

.cover-3 {
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 159px;
}

.lemonade-1 {
  filter: blur(6.8px);
  height: 16px;
  letter-spacing: -0.08px;
  line-height: 16px;
  margin-top: 4px;
  text-decoration: line-through;
  white-space: nowrap;
}

.dark {
    filter: grayscale(100%);
}

.hide {
    display: none;
}

.center {
    text-align: center !important;
}

.mission_day.day1.finish img {
    content: url("/images/index/mission/mission_day_1_finish.png");
}

.mission_day.day3.finish img {
    content: url("/images/index/mission/mission_day_3_finish.png");
}

.mission_day.day5.finish img {
    content: url("/images/index/mission/mission_day_5_finish.png");
}

.mission_day.day7.finish img {
    content: url("/images/index/mission/mission_day_7_finish.png");
}

.mission_day.finish {
    pointer-events: none;
}

.missionPopupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.missionPopupWrapper.view {
  display: block;
}

.missionPopupWrapper .missionPopupWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.missionPopupWrapper .missionPopupWrap .innerWrap {
  flex: 1;
  max-width: 330px;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 2px solid;
  border-color: #FF2D55;
  border-radius: 4px;
  box-shadow: 0px 4px 40px 8px #ff2d5526;
  color: #e0e0e0;
  font-size: 20px;
  letter-spacing: -0.4px;
  font-weight: 500;
  text-align: center;
  padding: 18px 0;
  background-color: #161616;
}

.missionPopupWrapper .missionPopupWrap .innerWrap .bottomWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
}

.missionPopupWrapper .missionPopupWrap .innerWrap .bottomWrap .col {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.missionPopupWrapper .missionPopupWrap .innerWrap .bottomWrap .col:first-child {
  position: relative;
}