* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v53_329 {
  height: 1252px;
  background: rgba(22,22,22,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_428 {
  width: 342px;
  height: 169px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 24px;
  overflow: hidden;
}
.v58_421 {
  width: 342px;
  height: 169px;
  background: rgba(46,46,46,0.1899999976158142);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(255,255,255,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v58_425 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 23px;
  font-family: SF Pro Text;
  font-weight: Medium;
  font-size: 88px;
  opacity: 1;
  text-align: center;
}
.v58_429 {
  width: 147px;
  color: url("/css/index/v58_429.png");
  position: absolute;
  top: 17px;
  left: 166px;
  font-family: Raleway;
  font-weight: Black Italic;
  font-size: 40px;
  opacity: 1;
  text-align: right;
}
.v58_430 {
  width: 40px;
  color: rgba(249,44,83,1);
  position: absolute;
  top: 72px;
  left: 164px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v58_432 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 105px;
  left: 234px;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v58_437 {
  width: 23px;
  color: rgba(255,131,155,1);
  position: absolute;
  top: 133px;
  left: 282px;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v58_431 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 215px;
  font-family: Noto Sans KR;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v58_433 {
  width: 285px;
  height: 15px;
  background: url("/css/index/v58_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 28px;
  border: 2px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v58_436 {
  width: 67px;
  height: 8px;
  background: url("/css/index/v58_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 30px;
  overflow: hidden;
}
.v58_434 {
  width: 67px;
  height: 8px;
  background: rgba(255,131,155,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_435 {
  width: 67px;
  height: 4px;
  background: rgba(249,44,83,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_662 {
  width: 335px;
  height: 243px;
  background: url("/css/index/v58_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 27px;
  overflow: hidden;
}
.v58_663 {
  width: 158px;
  height: 201px;
  background: url("/css/index/v58_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 177px;
  overflow: hidden;
}
.v58_664 {
  width: 87px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 182px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_665 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 164px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_666 {
  width: 158px;
  height: 158px;
  background: url("/css/index/v58_666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_667 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_668 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_669 {
  width: 179px;
  height: 444px;
  background: url("/css/index/v58_669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 9px;
  overflow: hidden;
}
.v58_670 {
  width: 158px;
  height: 160px;
  background: url("/css/index/v58_670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_671 {
  width: 158px;
  height: 160px;
  background: rgba(255,131,155,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(249,44,83,1);
}
.v58_672 {
  width: 64px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 111px;
  left: 69px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  transform: rotate(-15deg);
}
.v58_673 {
  width: 65px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 110px;
  opacity: 1;
  text-align: left;
}
.v58_674 {
  width: 158px;
  height: 202px;
  background: url("/css/index/v58_674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v58_675 {
  width: 72px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 183px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_676 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 166px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_677 {
  width: 158px;
  height: 158px;
  background: url("/css/index/v58_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_678 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_679 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_680 {
  width: 190px;
  height: 473px;
  background: url("/css/index/v58_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 15px;
  overflow: hidden;
}
.v58_681 {
  width: 158px;
  height: 160px;
  background: url("/css/index/v58_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_682 {
  width: 158px;
  height: 160px;
  background: rgba(255,131,155,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(249,44,83,1);
}
.v58_683 {
  width: 64px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 111px;
  left: 69px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  transform: rotate(-15deg);
}
.v58_684 {
  width: 65px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 14px;
  left: 25px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 128px;
  opacity: 1;
  text-align: left;
}
.v58_685 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v58_686 {
  width: 335px;
  height: 243px;
  background: url("/css/index/v58_686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 27px;
  overflow: hidden;
}
.v58_687 {
  width: 158px;
  height: 201px;
  background: url("/css/index/v58_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 177px;
  overflow: hidden;
}
.v58_688 {
  width: 60px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 182px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_689 {
  width: 82px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 164px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_690 {
  width: 158px;
  height: 158px;
  background: url("/css/index/v58_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_691 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_692 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_693 {
  width: 179px;
  height: 444px;
  background: url("/css/index/v58_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 9px;
  overflow: hidden;
}
.v58_694 {
  width: 158px;
  height: 160px;
  background: url("/css/index/v58_694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_695 {
  width: 158px;
  height: 160px;
  background: rgba(41,41,41,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(151,151,151,1);
}
.v58_696 {
  width: 64px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 111px;
  left: 69px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  transform: rotate(-15deg);
}
.v58_697 {
  width: 65px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 6px;
  left: 33px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 110px;
  opacity: 1;
  text-align: left;
}
.v58_698 {
  width: 158px;
  height: 202px;
  background: url("/css/index/v58_698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  overflow: hidden;
}
.v58_699 {
  width: 60px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 183px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_700 {
  width: 127px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 166px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v58_701 {
  width: 158px;
  height: 158px;
  background: url("/css/index/v58_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_702 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_703 {
  width: 158px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_704 {
  width: 190px;
  height: 473px;
  background: url("/css/index/v58_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 15px;
  overflow: hidden;
}
.v58_705 {
  width: 158px;
  height: 160px;
  background: url("/css/index/v58_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_706 {
  width: 158px;
  height: 160px;
  background: rgba(41,41,41,1);
  opacity: 0.7834655046463013;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(151,151,151,1);
}
.v58_707 {
  width: 64px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 111px;
  left: 69px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  transform: rotate(-15deg);
}
.v58_708 {
  width: 65px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 2px;
  left: 28px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 110px;
  opacity: 1;
  text-align: left;
}
.v58_709 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v58_710 {
  width: 337px;
  height: 248px;
  background: url("/css/index/v58_710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 27px;
  overflow: hidden;
}
.v58_711 {
  width: 166px;
  height: 201px;
  background: url("/css/index/v58_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 171px;
  overflow: hidden;
}
.v58_712 {
  width: 56px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 182px;
  left: 50px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v58_713 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 14px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v58_714 {
  width: 165px;
  height: 158px;
  background: url("/css/index/v58_714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_715 {
  width: 165px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_716 {
  width: 165px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 0.7834655046463013;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_717 {
  width: 199px;
  height: 473px;
  background: url("/css/index/v58_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v58_718 {
  width: 166px;
  height: 160px;
  background: url("/css/index/v58_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_719 {
  width: 166px;
  height: 160px;
  background: rgba(131,166,255,1);
  opacity: 0.7834655046463013;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v58_720 {
  width: 23px;
  background: url("/css/index/v58_720.png");
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 13px;
  border: 3px solid rgba(255,255,255,0.699999988079071);
}
.v58_721 {
  width: 106px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 102px;
  left: 40px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v58_722 {
  width: 126px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v58_723 {
  width: 166px;
  height: 202px;
  background: url("/css/index/v58_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v58_724 {
  width: 94px;
  color: rgba(140,140,140,1);
  position: absolute;
  top: 183px;
  left: 32px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v58_725 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 166px;
  left: 15px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v58_726 {
  width: 165px;
  height: 158px;
  background: url("/css/index/v58_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_727 {
  width: 165px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_728 {
  width: 165px;
  height: 158px;
  background: rgba(195,114,114,1);
  opacity: 0.7834655046463013;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(150,150,150,1);
}
.v58_729 {
  width: 199px;
  height: 473px;
  background: url("/css/index/v58_729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v58_730 {
  width: 166px;
  height: 160px;
  background: url("/css/index/v58_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_731 {
  width: 166px;
  height: 160px;
  background: rgba(0,211,218,1);
  opacity: 0.7834655046463013;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v58_732 {
  width: 23px;
  background: url("/css/index/v58_732.png");
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 11px;
  border: 3px solid rgba(255,255,255,0.699999988079071);
}
.v58_733 {
  width: 106px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 102px;
  left: 40px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v58_734 {
  width: 131px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 16px;
  left: 14px;
  font-family: Raleway;
  font-weight: ExtraBold Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v58_735 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 81px;
  font-family: Noto Sans KR;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v58_424 {
  width: 390px;
  height: 102px;
  background: url("/css/index/v58_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v53_341 {
  width: 390px;
  height: 101px;
  background: rgba(22,22,22,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v58_417 {
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 334px;
}
.v58_423 {
  width: 30px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 212px;
  font-family: SF Pro Text;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v58_415 {
  width: 64px;
  height: 35px;
  background: url("/css/index/v58_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 17px;
  overflow: hidden;
}
.name {
  color: #fff;
}
