.256_495 { 
	overflow:hidden;
}
.e256_495 { 
	background-color:rgba(22.31249962002039, 22.31249962002039, 22.31249962002039, 1);
	width:414px;
	height:896px;
	position:absolute;
}
.e256_539 { 
	color:rgba(255, 255, 255, 1);
	width:274px;
	height:82px;
	position:absolute;
	left:57px;
	top:130px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e256_548 { 
	width:12px;
	height:24px;
	position:absolute;
	left:25px;
	top:72px;
}
.i256_548_256_542 { 
	border:3px solid rgba(237.86983519792557, 235.21093547344208, 245.43749392032623, 1);
}
.ei256_548_256_542 { 
	width:12px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e256_717 { 
	width:308px;
	height:78px;
	position:absolute;
	left:53px;
	top:265px;
}
.ei256_717_256_584 { 
	width:308px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei256_717_256_582 { 
	width:285px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.i256_717_256_578 { 
	border:2px solid rgba(237.86983519792557, 235.21093547344208, 245.43749392032623, 1);
}
.ei256_717_256_578 { 
	position:absolute;
	left:4px;
	top:1.75px;
}
.ei256_717_256_580 { 
	color:rgba(208.36508721113205, 205.68227916955948, 214.62499290704727, 1);
	width:267px;
	height:41px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.i256_717_256_577 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.ei256_717_256_577 { 
	width:308px;
	height:0px;
	position:absolute;
	left:0px;
	top:49px;
}
.ei256_717_256_590 { 
	width:302px;
	height:20px;
	position:absolute;
	left:0px;
	top:58px;
}
.ei256_717_256_579 { 
	color:red;
	width:240px;
	height:20px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei256_717_256_581 { 
	color:rgba(255, 255, 255, 1);
	width:31px;
	height:17px;
	position:absolute;
	left:271px;
	top:1.5px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e256_742 { 
	background-color:rgba(237.86983519792557, 235.21093547344208, 245.43749392032623, 1);
	width:299px;
	height:55px;
	position:absolute;
	left:59px;
	top:751px;
	cursor:pointer;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei256_742_256_734 { 
	color:rgba(190.93832552433014, 188.9833304286003, 195.49999594688416, 1);
	width:212px;
	height:21px;
	position:absolute;
	left:43.5px;
	top:16px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:24px;
	letter-spacing:-2;
	line-height:px;
}
.e256_504 { 
	width:414px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei256_504_1347_15910 { 
	width:156px;
	height:33px;
	position:absolute;
	left:129px;
	top:-2px;
}
.ei256_504_1347_17684 { 
	background-color:rgba(0, 0, 0, 1);
	width:156px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei256_504_839_7251 { 
	width:54px;
	height:21px;
	position:absolute;
	left:31px;
	top:14px;
}
.ei256_504_839_7252 { 
	width:54px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.ei256_504_839_7252_839_7108 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:17px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}
.ei256_504_839_7253 { 
	width:77.40119171142578px;
	height:13px;
	position:absolute;
	left:306px;
	top:19px;
}
.ei256_504_1015_8559 { 
	width:27.401193618774414px;
	height:13px;
	position:absolute;
	left:50px;
	top:0px;
}
.ei256_504_1015_8559_1015_6220 { 
	opacity:0.3499999940395355;
	width:25px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:4px;
}
.i256_504_1015_8559_1015_6220 { 
	border:1.0550861358642578px solid rgba(255, 255, 255, 1);
}
.ei256_504_1015_8559_1015_6221 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:1.401194453239441px;
	height:4.220344543457031px;
	position:absolute;
	left:26px;
	top:5px;
}
.ei256_504_1015_8559_1015_6222 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:9px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:2px;
}
.ei256_504_839_7258 { 
	background-color:rgba(255, 255, 255, 1);
	width:17px;
	height:11.8340425491333px;
	position:absolute;
	left:26px;
	top:1.0000001192092896px;
}
.ei256_504_839_7259 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:17.000001907348633px;
	height:5.38932466506958px;
	position:absolute;
	left:9.82498704615864e-9px;
	top:-1.1920928955078125e-7px;
}
.ei256_504_839_7260 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:11.074453353881836px;
	height:4.128973960876465px;
	position:absolute;
	left:3px;
	top:4px;
}
.ei256_504_839_7261 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:5.149624347686768px;
	height:3.83404278755188px;
	position:absolute;
	left:6px;
	top:8px;
}
.ei256_504_839_7262 { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:0px;
	top:1px;
}
