.login {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.topSection {
    position: absolute;
    top: 180px;
}

.bottomSection {
    position: absolute;
    bottom: 40px;
}

.loginButton {
    padding: 10px;
    text-align: center;
}

.agreement {
    min-height: 46px;
    text-align: center;
    width: 308px;
    color: #D0CED7;
    opacity: 0.7;
    font-size: 12px;
}

.nickNameSection {
    position: absolute;
    top: 130px;
    color: #e0e0e0;
    font-size: 28px;
    width: 300px;
}

.nickName {
    padding-top: 50px;
}

.nickName input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid white;
    padding: 6px 12px;
    color: white;
}

.layout_alert {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
    width: 100%;
}

.text_alert {
    color: red;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
}

.count {
    font-size: 12px;
    text-align: right;
    padding-top: 10px;
}

.count span.caution {
    color: red;
}

.start_btn {
    width: 300px;
    height: 55px;
    background: url("/images/login/btn_start.png") no-repeat;
    background-size: 100% auto;
}

.start_btn.active {
    background: url("/images/login/btn_start_active.png") no-repeat;
    background-size: 100% auto;
}

.nicknamePopupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.nicknamePopupWrapper.view {
  display: block;
}

.nicknamePopupWrapper .nicknamePopupWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nicknamePopupWrapper .nicknamePopupWrap .innerWrap {
  flex: 1;
  max-width: 330px;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 2px solid;
  border-color: #FF2D55;
  border-radius: 4px;
  box-shadow: 0px 4px 40px 8px #ff2d5526;
  color: #e0e0e0;
  font-size: 20px;
  letter-spacing: -0.4px;
  font-weight: 500;
  text-align: center;
  padding: 18px 0;
  background-color: #161616;
}

.nicknamePopupWrapper .nicknamePopupWrap .innerWrap .bottomWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
}

.nicknamePopupWrapper .nicknamePopupWrap .innerWrap .bottomWrap .col {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.nicknamePopupWrapper .nicknamePopupWrap .innerWrap .bottomWrap .col:first-child {
  position: relative;
}