{{>layout/headerIndex}}
<a href="/logout" class="btn btn-info active" role="button">Logout</a>
<div class="v53_329">
    <div class="v58_428">
        <div class="v58_421">
        </div>
        <span class="v58_425">🎖</span><span class="v58_429">SILVER2</span><span class="v58_430">Lv.12</span><span class="v58_432">다음 티어까지</span><span class="v58_437">28 pt</span><span class="v58_431">{{nickname}}</span>
        <div class="v58_433">
        </div>
        <div class="v58_436">
            <div class="v58_434">
            </div>
            <div class="v58_435">
            </div>
        </div>
    </div>
    <div class="v58_662">
        <div class="v58_663">
            <span class="v58_664">08월 2주 후반전</span><span class="v58_665">3day Mission</span>
            <div class="v58_666">
                <div class="v58_667">
                </div>
                <div class="v58_668">
                </div>
                <div class="v58_669">
                </div>
            </div>
            <div class="v58_670">
                <div class="v58_671">
                </div>
                <span class="v58_672">Day</span><span class="v58_673">3</span>
            </div>
        </div>
        <div class="v58_674">
            <span class="v58_675">상시참여가능</span><span class="v58_676">1day Mission</span>
            <div class="v58_677">
                <div class="v58_678">
                </div>
                <div class="v58_679">
                </div>
                <div class="v58_680">
                </div>
            </div>
            <div class="v58_681">
                <div class="v58_682">
                </div>
                <span class="v58_683">Day</span><span class="v58_684">1</span>
            </div>
        </div>
        <span class="v58_685">Tick ㅡ </span>
    </div>
    <div class="v58_686">
        <div class="v58_687">
            <span class="v58_688">08월 2주차</span><span class="v58_689">7day Mission</span>
            <div class="v58_690">
                <div class="v58_691">
                </div>
                <div class="v58_692">
                </div>
                <div class="v58_693">
                </div>
            </div>
            <div class="v58_694">
                <div class="v58_695">
                </div>
                <span class="v58_696">Day</span><span class="v58_697">7</span>
            </div>
        </div>
        <div class="v58_698">
            <span class="v58_699">08월 2주차</span><span class="v58_700">5day Mission</span>
            <div class="v58_701">
                <div class="v58_702">
                </div>
                <div class="v58_703">
                </div>
                <div class="v58_704">
                </div>
            </div>
            <div class="v58_705">
                <div class="v58_706">
                </div>
                <span class="v58_707">Day</span><span class="v58_708">5</span>
            </div>
        </div>
        <span class="v58_709">Quick ㅡ </span>
    </div>
    <div class="v58_710">
        <div class="v58_711">
            <span class="v58_712">22년 08월</span><span class="v58_713">Full Month Mission</span>
            <div class="v58_714">
                <div class="v58_715">
                </div>
                <div class="v58_716">
                </div>
                <div class="v58_717">
                </div>
            </div>
            <div class="v58_718">
                <div class="v58_719">
                </div>
                <div class="v58_720">
                </div>
                <span class="v58_721">Month</span><span class="v58_722">Full</span>
            </div>
        </div>
        <div class="v58_723">
            <span class="v58_724">22년 08월 전반전</span><span class="v58_725">Half Month Mission</span>
            <div class="v58_726">
                <div class="v58_727">
                </div>
                <div class="v58_728">
                </div>
                <div class="v58_729">
                </div>
            </div>
            <div class="v58_730">
                <div class="v58_731">
                </div>
                <div class="v58_732">
                </div>
                <span class="v58_733">Month</span><span class="v58_734">Half</span>
            </div>
        </div>
        <span class="v58_735">ㅡ Huick ㅡ </span>
    </div>
    <div class="v58_424">
        <div class="v53_341">
        </div>
        <div class="name">
        </div>
        <div class="v58_417">
        </div>
        <span class="v58_423">🏅</span>
        <div class="v58_415">
        </div>
        <div class="name">
        </div>
    </div>
</div>
{{>layout/footerIndex}}