{{>layout/headerIndex}}
<div class="x2-1-main-ing-o screen">
    <div class="fixed_up">
        <img class="logo_real" src="/images/index/logo.png" alt="logo_real"/>
        <div class="btn_home">
            <img class="icon_home" src="/images/index/home.png" alt="Icon_home"/>
        </div>
        <div class="btn_zone">
            <img class="icon_home" src="/images/index/zone.png" alt="Icon_zone"/>
        </div>
        <div class="btn_mypage">
            <img class="icon_home" src="/images/index/mypage.png" alt="Icon_mypage"/>
        </div>
    </div>
    <div id="rankBox"class="rank_-box hide">
    </div>
    <div class="tick">
        <div class="recently-addedvalign-text-bottomnotosanskr-black-white-28px">Tick ㅡ</div>
        <div class="flex-row">
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_day1.png" alt="Cover"/>
                </div>
                <div class="a-moon-shaped-poolvalign-text-middlenotosanskr-bold-white-13px">1day Mission</div>
                <div class="radioheadvalign-text-bottomnotosanskr-normal-stack-13px">상시참여가능</div>
            </div>
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_day3.png" alt="Cover"/>
                </div>
                <div class="lemonadevalign-text-middlenotosanskr-bold-white-13px">3day Mission</div>
                <div class="beyoncvalign-text-bottomnotosanskr-normal-stack-13px">08월 2주 후반전</div>
            </div>
        </div>
    </div>
    <div class="quick">
        <div class="recently-added valign-text-bottom notosanskr-black-white-28px">Quick ㅡ</div>
        <div class="flex-row">
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_day5.png" alt="Cover"/>
                </div>
                <div class="a-moon-shaped-pool-1valign-text-middle notosanskr-bold-white-13px-2">5day Mission</div>
                <div class="radio head valign-text-bottom notosanskr-normal-stack-13px">08월 2주차</div>
            </div>
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_day7.png" alt="Cover"/>
                </div>
                <div class="lemonade-1valign-text-middlenotosanskr-bold-white-13px-2">7day Mission</div>
                <div class="beyonc valign-text-bottom notosanskr-normal-stack-13px">08월 2주차</div>
            </div>
        </div>
    </div>
    <div class="huick">
        <div class="recently-added-1 valign-text-bottom">ㅡ Huick ㅡ</div>
        <div class="flex-row">
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_half.png" alt="Cover"/>
                </div>
                <div class="a-moon-shaped-pool-2valign-text-middle notosanskr-bold-white-13px">Half Month Mission</div>
                <div class="radio head-1valign-text-bottom notosanskr-normal-stack-13px">22년 08월 전반전</div>
            </div>
            <div class="flex-row-item">
                <div class="over-container">
                    <img class="cover" src="/images/index/cover_mask_full.png" alt="Cover"/>
                </div>
                <div class="a-moon-shaped-pool-3valign-text-middle notosanskr-bold-white-13px">Full Month Mission</div>
                <div class="radio head-2 valign-text-bottom notosanskr-normal-stack-13px">22년 08월</div>
            </div>
        </div>
    </div>
</div>
{{>layout/footerIndex}}

<script type="text/template" id="rankBox-template">
        <div class="default">
            <div class="overlap-group-container">
                <div class="overlap-group1-1">
                    <div class="text-2">티어<br/>아이콘</div>
                </div>
                <div class="overlap-group2-1">
                    <div class="txt_nickname">
                        <div class="nickname">{nickname}</div>
                    </div>
                    <div class="layout_zone">
                        <div class="txt_zone_title">{ranking}</div>
                        <div class="txt_zone_num">{tier}</div>
                    </div>
                </div>
            </div>
            <div class="layout_exp">
                <div class="txt_-container">
                    <div class="txt_expnotosanskr-normal-white-12px">EXP</div>
                    <div class="txt_next_zone">
                        <div class="txt_next_zone-itemnotosanskr-normal-white-12px">다음 ZONE</div>
                        <div class="master-3">MASTER 3</div>
                        <div class="txt_next_zone-itemnotosanskr-normal-white-12px">까지</div>
                    </div>
                </div>
                <div class="overlap-group-1">
                    <div class="gage_in">
                        <div class="box_filled"></div>
                    </div>
                    <div class="txt_exp_remainnotosanskr-medium-white-10px">{tierPoint} pt</div>
                    <div class="txt_exp_gainednotosanskr-medium-white-10px">1233 pt</div>
                </div>
            </div>
        </div>
</script>