{{>layout/headerIndex}}
<div class="x4-join-tick-mission screen">
  <div class="mission_-box-SNcPDz">
    <div class="rank_box-xuEJxe"></div>
    <div class="txt_detail-xuEJxe">
      <div class="text_label-6Vzvq5">미션 상세</div>
      <div class="txt_date-6Vzvq5">
        <div class="x-x9NJVH notosanskr-medium-white-16px">진행기간 :</div>
        <div class="x221130--221202-x9NJVH notosanskr-light-white-16px">22.11.30 ~ 22.12.02</div>
      </div>
      <div class="txt_how-6Vzvq5">
        <div class="x-L7FsxN notosanskr-medium-white-16px">진행방법:</div>
        <div class="x9001159-21002359-took-L7FsxN notosanskr-light-white-14px">
          <span class="span0-xEAUvh notosanskr-light-white-14px">매일</span
          ><span class="span1-xEAUvh notosanskr-normal-white-14px"> 9:00~11:59 사이</span
        ><span class="span2-xEAUvh notosanskr-light-white-14px">에 한 번, </span
        ><span class="span3-xEAUvh notosanskr-normal-white-14px">21:00~23:59 사이</span
        ><span class="span4-xEAUvh notosanskr-light-white-14px">에 한 번,<br />오전/오후동안 지켰다면 </span
        ><span class="span5-xEAUvh notosanskr-normal-white-14px">Took! </span
        ><span class="span6-xEAUvh notosanskr-light-white-14px">하기</span>
        </div>
      </div>
    </div>
    <div class="txt_title-xuEJxe">
      <div class="tick-3YqxU2 notosanskr-bold-white-32px">Tick</div>
      <div class="x3-day-3YqxU2">
        <span class="span0-7xzWta">3</span><span class="span1-7xzWta notosanskr-bold-white-32px"> Day</span>
      </div>
      <img
          class="line-4-3YqxU2"
          src="https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/637dfecca76e0b5dbf5f37b0/img/line-4@2x.svg"
          alt="Line 4"
      />
    </div>
    <div class="rectangle-81-xuEJxe"></div>
    <div class="join_btn-xuEJxe" onclick="javascript:main.setMission(3)">
      <img
          class="key-1evIce"
          src="https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/6381ce1cfeb41beda613f259/img/key@2x.svg"
          alt="Key"
      />
      <div class="go-1evIce valign-text-middle">참여하기!</div>
    </div>
    <div class="txt_point-xuEJxe">
      <div class="x-xc4i2w notosanskr-medium-white-16px">미션보상 :</div>
      <div class="x3-60pt-xc4i2w">
        <span class="span0-Yd0f3T notosanskr-light-white-16px"> 3일 완료 시 </span
        ><span class="span1-Yd0f3T notosanskr-normal-tulip-16px">60pt</span>
      </div>
    </div>
    <div class="txt_users-xuEJxe">
      <div class="x-qivisV notosanskr-medium-white-16px">현재 참여자 수 :</div>
      <div class="x308-qivisV">
        <span class="span0-8XtmbR notosanskr-normal-tulip-16px">308 </span><span class="span1-8XtmbR notosanskr-light-white-16px">명</span>
      </div>
    </div>
  </div>
  <div class="fixed_up-SNcPDz">
    <div class="bg-4-scroll-zHXf38"></div>
    <img
        class="btn_back-zHXf38"
        src="https://anima-uploads.s3.amazonaws.com/projects/62f458c97b1c63a284ce816a/releases/631fb8fcf1e4cb359971d1aa/img/btn-back@2x.svg"
        alt="Btn_back"
    />
    <div class="text_label-zHXf38">미션 참여하기</div>
  </div>
</div>
{{>layout/footerIndex}}