{{>layout/headerLogin}}
<div class="login">
    <div class="topSection">
        <img src="/images/index/logo.png" width="183" height="100"/>
    </div>
    <div class="bottomSection">
        <div class="loginButton">
            <img src="/images/login/google.png" width="220" height="40"
                 onclick="location.href='/oauth2/authorization/google'"/>
        </div>
        <div class="loginButton">
            <img src="/images/login/kakao.png" width="220" height="40"
                 onclick="location.href='/oauth2/authorization/naver'"/>
        </div>
        <div class="loginButton">
            <img src="/images/login/naver.png" width="220" height="40"
                 onclick="location.href='/oauth2/authorization/kakao'"/>
        </div>
        <p class="agreement">
            SNS 로그인(회원가입) 시 이용약관 및 <br/> 이용약관에 동의하게 됩니다.
        </p>
    </div>
</div>
{{>layout/footerLogin}}