{{>layout/headerIndex}}
    <h1>ASAP 닉네임 정해줘</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <input id="nickname" type="text" value="{{userName2}}">
                <button id="btn-nickname" class="btn btn-primary">결정</button>
            </div>
        </div>
    </div>
{{>layout/footerNickname}}